.button {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: 0;
    background-color: var(--hover-backgroundcolor);
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}

.hero-section__button {
    margin-top: 30px;
}

.subscribe__button {
    text-align: center;
    position: relative;
    padding: 0;
    // margin-top: 20px;
}

.subscribe__button-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 29px;
}
.modal__button--position {
    margin: 30px 85px 0;

}